.loginFormCSS {
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 400px;
}

.card {
    background-color: rgb(223, 255, 255);
}

.p-inputtext {
    width: 80%;
}

.loginGridContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}