.contactFormCSS {
    float: right;
    margin-top: 10em;
    margin-right: 20em;
    background-color: rgb(255, 219, 194);
}
.pageStruct {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    place-items: center;
    min-height: 100%;
    background-image: url("https://images.pexels.com/photos/3771097/pexels-photo-3771097.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}

.p-inputtext {
    width: 80%;
}

.p-inputtext-lg {
    height: 150px;
}
