<!-- The main website banner (start) -->
<div class="bannerContainer">
    <h1 class="bannerHeader">Lorem Ipsum</h1>
    <p class="headerParagraph">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum."</p>
    <p class="quoted">- Nostrud</p>
</div>
<!-- End of website banner -->

<!-- Collapsable information accordion (start) -->
<div class="accordion ">
    <!-- Three collapsable tabs -->
    <p-accordion [activeIndex]="0">
        <p-accordionTab header="Curabitur mi lectus?" class="tab2">
            <div class="bodyContainer">
                <img src="assets/img/meetingBody1.jpeg" alt="" class="imageInBody">
                <div class="bodyContent">
                    <h1 class="bodyTitle">Curabitur mi lectus?</h1>
                    <p class="bodyParagraph">Cras consectetur consequat sem, vel maximus mauris. Morbi ornare ultricies
                        justo a rhoncus. Maecenas vitae luctus orci, vitae ultrices ligula. Ut egestas nulla sed orci
                        sollicitudin, id tincidunt diam tristique. Suspendisse ut mi id dolor venenatis consequat
                        efficitur in lectus. Phasellus sit amet malesuada nulla. Nunc sagittis ipsum quis ipsum
                        tincidunt venenatis. Suspendisse sed tempor leo, sit amet porttitor neque. Nam neque ante,
                        semper vitae lacinia ut, pretium a lorem. Vivamus vitae euismod elit. Phasellus tincidunt
                        bibendum aliquam. Integer pharetra ex at mi facilisis ullamcorper. Vivamus quis erat tortor.
                        Cras ac lorem sem.
                    </p>
                    <p class="bodyParagraph">
                        Nam volutpat urna a urna mollis, quis gravida sem mattis. Duis ac neque eget orci hendrerit
                        efficitur vel maximus mi. Etiam rutrum convallis blandit. Proin ac consectetur lectus. In auctor
                        odio sit amet velit aliquet, nec tempus lectus accumsan. Proin facilisis, massa at rhoncus
                        tempus, turpis purus varius nisi, ac varius augue dui sed dui. Quisque at nunc quis metus mattis
                        pharetra et a quam. In sagittis eros justo, nec hendrerit orci luctus vel. Curabitur et quam
                        justo.
                    </p>
                    <div class="imgContainerBody">
                        <img class="hoverStat" src="assets/img/modalInfoLink.jpeg" alt="" (click)="mouseEnter()">
                        <p class="bodyParagraph">Click to know more!</p>
                    </div>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Vivamus quis erat tortor?">
            <div class="bodyContainer">
                <img src="assets/img/meetingBody2.webp" alt="" class="imageInBody">
                <div class="bodyContent">
                    <h1 class="bodyTitle">Vivamus quis erat tortor?</h1>
                    <p class="bodyParagraph">Cras consectetur consequat sem, vel maximus mauris. Morbi ornare ultricies
                        justo a rhoncus. Maecenas vitae luctus orci, vitae ultrices ligula. Ut egestas nulla sed orci
                        sollicitudin, id tincidunt diam tristique. Suspendisse ut mi id dolor venenatis consequat
                        efficitur in lectus. Phasellus sit amet malesuada nulla. Nunc sagittis ipsum quis ipsum
                        tincidunt venenatis. Suspendisse sed tempor leo, sit amet porttitor neque. Nam neque ante,
                        semper vitae lacinia ut, pretium a lorem. Vivamus vitae euismod elit. Phasellus tincidunt
                        bibendum aliquam. Integer pharetra ex at mi facilisis ullamcorper. Vivamus quis erat tortor.
                        Cras ac lorem sem.
                    </p>
                    <p class="bodyParagraph">
                        Nam volutpat urna a urna mollis, quis gravida sem mattis. Duis ac neque eget orci hendrerit
                        efficitur vel maximus mi. Etiam rutrum convallis blandit. Proin ac consectetur lectus. In auctor
                        odio sit amet velit aliquet, nec tempus lectus accumsan. Proin facilisis, massa at rhoncus
                        tempus, turpis purus varius nisi, ac varius augue dui sed dui. Quisque at nunc quis metus mattis
                        pharetra et a quam. In sagittis eros justo, nec hendrerit orci luctus vel. Curabitur et quam
                        justo.
                    </p>
                    <div class="imgContainerBody">
                        <img class="hoverStat" src="assets/img/modalInfoLink.jpeg" alt="" (click)="mouseEnter()">
                        <p class="bodyParagraph">Click to know more!</p>
                    </div>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Nam volutpat urna?">
            <div class="bodyContainer">
                <img src="assets/img/meetingBody3.webp" alt="" class="imageInBody">
                <div class="bodyContent">
                    <h1 class="bodyTitle">Vivamus quis erat tortor?</h1>
                    <p class="bodyParagraph">Cras consectetur consequat sem, vel maximus mauris. Morbi ornare ultricies
                        justo a rhoncus. Maecenas vitae luctus orci, vitae ultrices ligula. Ut egestas nulla sed orci
                        sollicitudin, id tincidunt diam tristique. Suspendisse ut mi id dolor venenatis consequat
                        efficitur in lectus. Phasellus sit amet malesuada nulla. Nunc sagittis ipsum quis ipsum
                        tincidunt venenatis. Suspendisse sed tempor leo, sit amet porttitor neque. Nam neque ante,
                        semper vitae lacinia ut, pretium a lorem. Vivamus vitae euismod elit. Phasellus tincidunt
                        bibendum aliquam. Integer pharetra ex at mi facilisis ullamcorper. Vivamus quis erat tortor.
                        Cras ac lorem sem.
                    </p>
                    <p class="bodyParagraph">
                        Nam volutpat urna a urna mollis, quis gravida sem mattis. Duis ac neque eget orci hendrerit
                        efficitur vel maximus mi. Etiam rutrum convallis blandit. Proin ac consectetur lectus. In auctor
                        odio sit amet velit aliquet, nec tempus lectus accumsan. Proin facilisis, massa at rhoncus
                        tempus, turpis purus varius nisi, ac varius augue dui sed dui. Quisque at nunc quis metus mattis
                        pharetra et a quam. In sagittis eros justo, nec hendrerit orci luctus vel. Curabitur et quam
                        justo.
                    </p>
                    <div class="imgContainerBody">
                        <img class="hoverStat" src="assets/img/modalInfoLink.jpeg" alt="" (click)="mouseEnter()">
                        <p class="bodyParagraph">Click to know more!</p>
                    </div>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>
<p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}"><img
        src="assets/img/Screenshot from 2023-05-23 14-06-15.png" alt="">
    <a href="http://localhost:4200/dashboard"><p-button>Click to see more!</p-button></a>
</p-dialog>
<!-- Collapsable information accordion (end) -->

<div class="servicesContainer">
    <div class="serviceTitle">
        <img src="assets/img/icons/support.png" alt="">
        <h1>Our services</h1>
    </div>
    <div class="serviceContent">
        <div class="serviceBox">
            <img src="assets/img/icons/operation.png" alt="">
            <h2>DONEC EU</h2>
            <p class="bodyParagraph">Cras pharetra, libero vel pellentesque faucibus, arcu eros malesuada ex, eget
                mollis elit nunc vel sem. Aliquam eu nisi id justo placerat tempor. Etiam ac ipsum consequat nunc
                tincidunt hendrerit.</p>
        </div>
        <div class="serviceBox">
            <img src="assets/img/icons/cash-flow.png" alt="">
            <h2>VEL SEM</h2>
            <p class="bodyParagraph">Cras pharetra, libero vel pellentesque faucibus, arcu eros malesuada ex, eget
                mollis elit nunc vel sem. Aliquam eu nisi id justo placerat tempor. Etiam ac ipsum consequat nunc
                tincidunt hendrerit.</p>
        </div>
        <div class="serviceBox">
            <img src="assets/img/icons/insight.png" alt="">
            <h2>EGGET MOLLIS</h2>
            <p class="bodyParagraph">Cras pharetra, libero vel pellentesque faucibus, arcu eros malesuada ex, eget
                mollis elit nunc vel sem. Aliquam eu nisi id justo placerat tempor. Etiam ac ipsum consequat nunc
                tincidunt hendrerit.</p>
        </div>
        <div class="serviceBox">
            <img src="assets/img/icons/secure.png" alt="">
            <h2>ALIQUAM</h2>
            <p class="bodyParagraph">Cras pharetra, libero vel pellentesque faucibus, arcu eros malesuada ex, eget
                mollis elit nunc vel sem. Aliquam eu nisi id justo placerat tempor. Etiam ac ipsum consequat nunc
                tincidunt hendrerit.</p>
        </div>
        <div class="serviceBox">
            <img src="assets/img/icons/solution.png" alt="">
            <h2>FACILISIS</h2>
            <p class="bodyParagraph">Cras pharetra, libero vel pellentesque faucibus, arcu eros malesuada ex, eget
                mollis elit nunc vel sem. Aliquam eu nisi id justo placerat tempor. Etiam ac ipsum consequat nunc
                tincidunt hendrerit.</p>
        </div>
        <div class="serviceBox">
            <img src="assets/img/icons/time-management.png" alt="">
            <h2>SAGGITUS</h2>
            <p class="bodyParagraph">Cras pharetra, libero vel pellentesque faucibus, arcu eros malesuada ex, eget
                mollis elit nunc vel sem. Aliquam eu nisi id justo placerat tempor. Etiam ac ipsum consequat nunc
                tincidunt hendrerit.</p>
        </div>
    </div>
</div>